.livescore{
       margin-top: 10vh;
       width: 100%;
       height: fit-content;
       background: #000;
       /* position: absolute; */
}
.livescoreNav{
       
       width: 80%;
       margin: auto;
       padding: 10px;
       display: flex;
       align-items: center;
       justify-content: space-evenly;
}
.livescoreNav a{
       text-decoration: none;
       margin: 0px 10px;
       font-size: 20px;
       color: #f9f9f9;
}
.livescoreNavLink{
       background: grey;
       width: 100%;
       text-align: center;
       border: none;
       border-radius: 10px;
}

.livescoreNav a:active{
       color: red;
       background-color: red;
}
.outlet{
       background: #0005;
       width: 80%;
       margin: auto;
       height: 100%;
       color: #f9f9f9;
      

}

/* MEDIA QUERRY */

@media only screen and (min-width: 360px) and (max-width: 750px){
       .livescore{
              margin-top: 10vh;
              width: 100%;
              height: fit-content;
              background: #000;
              /* position: absolute; */
       }
       
       .outlet{
              background: #0005;
              width: 100%;
              height: 100%;
              color: #f9f9f9;
       }   
}

