.home{
    width: 1024px;
    margin: auto;
    height: 80vh;
    /* background: #0095; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-divs{
    background: #005;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.27s;
}
.home-divs:hover{
    background: #0457;
}
.home-div-texts{
    text-decoration: none;
    color: #999;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* MDEDIA SCREEN */

@media screen and (min-width: 480px) and (max-width: 768px) {
    .home{
        width: 600px;
        margin: auto;
        height: 80vh;
        /* background: #0095; */
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .home-divs{
        background: #005;
        max-width: 300px;
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.27s;
    }
    .home-divs:hover{
        background: #0457;
    }
    .home-div-texts{
        text-decoration: none;
        color: #f9f9f9;
        font-size: 1.2em;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }