.footerContainer{
    width: 100%;
    height: 7%;
    background: #047;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9f9f9;
    /* position: fixed;
    bottom: 0; */
    
    
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    transition: 0.3s;
}
.icon:hover{
    transform: scale(1.1);
    color: orangered;
}

.footer-logo{
    margin: 10px;
    font-size: 30PX;
    color: orangered;
}
.footer-logo-text{
    font-family: cursive;
    font-size: 25px;
    text-decoration: none;
    color: orangered;
}
.text{
    font-size: 20px;
 
}

/* MEDIA QUERRY */

@media only screen and (min-width: 360px) and (max-width: 750px) {
    .footerContainer{
        width: 100%;
        height: fit-content;
        display: block;
        background: #047;
       
      
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon{
        margin: 5px;
        padding: 10px;
        font-size: 20px;
        transition: 0.3s;
    }
    .icon:hover{
        transform: scale(1.1);
        color: orangered;
    }
    
    .footer-logo{
        margin: 10px;
        font-size: 20PX;
        color: orangered;
    }
    .footer-logo-text{
        font-family: cursive;
        font-size: 20px;
        text-decoration: none;
        color: orangered;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    
  }