.navbar{
    width: 100%;
    height: 10vh;
    background: #007;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f6f6f6;
}
.logo{
    font-size: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-logo{
    margin: 10px;
    font-size: 40PX;
    color: orangered;
}
.logo-text{
    font-family: cursive;
    color: orangered;
}
.navbar nav{
   margin-right: 20px;
}
.navlinks{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}
nav a.active{
    background-color: orangered;
    padding: 20px;
    border: none;
    border-radius: 5px;
}


/* MEDIA QUERRY */
@media screen and (min-width: 600px) {
    .navbar{
        width: 100%;
        height: 10vh;
        background: #007;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #f6f6f6;
    }
    .logo{
        font-size: 15px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-logo{
        margin: 5px;
        font-size: 20PX;
        color: orangered;
    }
    .logo-text{
        font-family: cursive;
        color: orangered;
    }
    .navbar nav{
       margin-right: 10px;
    }
    .navlinks{
        color: whitesmoke;
        text-decoration: none;
        font-size: 15px;
        margin: 5px;
        padding: 3px;
    }
    nav a.active{
        background-color: orangered;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }
  }